<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理员-编辑任务</title>
    <title th:text="(${title==null}?'':${title}+'-')+'后台管理系统'">派出所-后台管理系统</title>
    <meta th:remove="tag" th:include="fragements/header::header(title='总任务')">
    <link th:href="@{/styles/css/create.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css/buttons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">

    <script language=Javascript>
        function time() {
            //获得显示时间的div
            t_div = document.getElementById('showtime');
            var now = new Date()
            //替换div内容
            t_div.innerHTML = "现在是" + now.getFullYear() + "年" + (now.getMonth() + 1) + "月" + now.getDate() + "日" + now.getHours() + "时" + now.getMinutes() + "分" + now.getSeconds() + "秒";
            //等待一秒钟后调用time方法，由于settimeout在time方法内，所以可以无限调用
            setTimeout(time, 1000);
        }
    </script>

</head>
<body onLoad="time()">
<div class="page-header" style="margin-top: -30px;">
    <h1>
        管理系统 <small>分配任务</small>
    </h1>
</div>

<div class="work">
    <div class="back"><a href="/taskmanagement/maintask/list.html">
        <button class="button button-primary button-circle button-border"><span
                class="glyphicon glyphicon-chevron-left"></span></button>
    </a></div>
    <div class="make">
        <form role="form" id="editTaskForm">
            <div hidden>
                <input class="form-control text-left" name="task_id" th:value="${mainTask.taskId}">
            </div>
            <div class="form-group form-group1">
                <label>任务类别</label>
                <input class="form-control text-left" name="task_category" id="task-Category" readonly>
            </div>

            <div class="form-group form-group1-2">
                <label>任务完成情况</label>
                <select name="finish_status" class="form-control">
                    <option value="TODO" th:selected="${mainTask.finishStatus} eq 'TODO'">待执行</option>
                    <option value="DOING" th:selected="${mainTask.finishStatus} eq 'DOING'">执行中</option>
                    <option value="INTERRUPTED" th:selected="${mainTask.finishStatus} eq 'INTERRUPTED'">被中断</option>
                    <option value="DELAYED" th:selected="${mainTask.finishStatus} eq 'DELAYED'">被延迟</option>
                    <option value="FINISHED" th:selected="${mainTask.finishStatus} eq 'FINISHED'">已完成</option>
                </select>
            </div>

            <div class="form-group form-group2">
                <label>发布时间</label>
                <div class="controls date form_date">
                    <input name="issue_time" class="form-control"
                           th:value="${#dates.format(mainTask.issueTime,'yyyy-MM-dd HH:mm:ss')}">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <div class="form-group form-group2-2">
                <label>截止时间</label>
                <div class="controls date form_date">
                    <input name="deadline" class="form-control"
                           th:value="${#dates.format(mainTask.deadline,'yyyy-MM-dd HH:mm:ss')}">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <div class="form-group form-group3">
                <label>任务区域</label>
                <select  class="form-control" name="task_area" placeholder="请选择任务区域">
                    <option value="">全部</option>
                    <option value="CH" th:selected="${mainTask.taskArea} eq 'CH'">长河社区</option>
                    <option value="ZJC" th:selected="${mainTask.taskArea} eq 'ZJC'">张家村社区</option>
                    <option value="JE" th:selected="${mainTask.taskArea} eq 'JE'">江二社区</option>
                    <option value="JS" th:selected="${mainTask.taskArea} eq 'JS'">江三社区</option>
                </select>
            </div>
            <div class="form-group form-group3-2">
                <label>任务发布者</label>
                <input type="text" class="form-control" id="publisher" name="publisher"
                       th:value="${mainTask.publisher}">
            </div>
            <div class="form-group form-group4">
                <label>任务详情</label>
                <input type="text" class="form-control" rows="3" name="task_detail"
                       th:value="${mainTask.taskDetail}">
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="button button-primary button-normal button-border"
                            style="margin-left: 30%;" id="submitForm"> 编辑任务
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="showtime" style="float: right;" id="showtime"></div>
</div>

<footer style=" z-index: 2;position: relative;background-color: #3d3d3d;">
    <div th:remove="tag" th:include="fragements/footer::footer"></div>
</footer>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var info = [[${mainTask}]];
    console.log(info);
    $(function () {
        var task_category = [[${mainTask.taskCategory}]];
        var task_category_text = taskCategory[task_category];
        $('#task-Category').val(task_category_text);
    })
    /*]]>*/
</script>
<script th:src="@{/scripts/pages/task/maintask/edit.js?201811222044}"></script>
</body>
</html>