<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理员-填写实时巡检记录</title>
    <title th:text="(${title==null}?'':${title}+'-')+'后台管理系统'">派出所-后台管理系统</title>
    <meta th:remove="tag" th:include="fragements/header::header(title='巡检记录')">
    <link th:href="@{/styles/css/create.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css/buttons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/styles/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <script language="javascript">
        function show(index1,index2){
            if(index2==0){
                document.getElementById(index1).style.visibility = "hidden";
            }
            else{
                document.getElementById(index1).style.visibility = "visible";
            }
        }
    </script>


</head>
<body>
<div class="page-header" style="margin-top: -30px;">
    <h1>
        任务管理 <small>实时巡检记录填写</small>
    </h1>
</div>
<div class="work">
    <div class="back"><a href="/taskmanagement/sontask/listall.html">
        <button class="button button-primary button-circle button-border"><span
                class="glyphicon glyphicon-chevron-left"></span></button>
    </a></div>
    <div class="make">
        <form role="form" id="addTaskForm">
            <div class="form-group form-group1">
                <label>主任务编号</label>
                <input class="form-control text-left" name="task_id" th:value="${sonTask.taskId}" readonly>
            </div>

            <div class="form-group form-group1-2">
                <label>子任务编号</label>
                <input class="form-control text-left" name="son_task_id" th:value="${sonTask.sonTaskId}" readonly>
            </div>

            <div class="form-group form-group2">
                <label>子任务截止时间</label>
                <div class="controls date form_date">
                    <input name="deadline" class="form-control" type="text"
                           th:value="${#dates.format(sonTask.deadline,'yyyy-MM-dd HH:mm:ss')}">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <div class="form-group form-group2-2">
                <label>子任务完成时间</label>
                <div class="controls date form_date">
                    <input name="finish_time" class="form-control" type="text"  placeholder="请选择时间">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <div class="form-group form-group2" th:if="${sonTask.taskArea} eq 'CH'">
                <label>子任务地点</label>
                <select  class="form-control" name="place" placeholder="请选择任务区域" th:value="${sonTask.place}" readonly>
                    <option value="CH001" th:selected="${sonTask.place=='CH001'}">彩虹城</option>
                    <option value="CH002" th:selected="${sonTask.place=='CH002'}">连连大厦</option>
                    <option value="CH003" th:selected="${sonTask.place=='CH003'}">中控科技园</option>
                    <option value="CH004" th:selected="${sonTask.place=='CH004'}">杭州长河高级中学</option>
                    <option value="CH005" th:selected="${sonTask.place=='CH005'}">杭州龙禧大酒店</option>
                    <option value="CH006" th:selected="${sonTask.place=='CH006'}">滨江龙湖天街</option>
                    <option value="CH007" th:selected="${sonTask.place=='CH007'}">中心花园</option>
                    <option value="CH008" th:selected="${sonTask.place=='CH008'}">好歌汇量贩KTV</option>
                    <option value="CH009" th:selected="${sonTask.place=='CH009'}">浙江大学医学院附属儿童医院</option>
                    <option value="CH0010" th:selected="${sonTask.place=='CH0010'}">宝龙城</option>
                </select>
            </div>
            <div class="form-group form-group2" th:if="${sonTask.taskArea} eq 'ZJC'" readonly>
                <label>子任务地点</label>
                <select class="form-control" name="place" placeholder="请选择任务区域">
                    <option value="ZJC001" th:selected="${sonTask.place=='ZJC001'}">冠山小区</option>
                    <option value="ZJC002" th:selected="${sonTask.place=='ZJC002'}">华数数字电视产业园</option>
                    <option value="ZJC003" th:selected="${sonTask.place=='ZJC003'}">杭州白马湖国际会展中心</option>
                </select>
            </div>
            <div class="form-group form-group2-2">
                <label>子任务负责警员</label>
                <select  class="form-control" name="cop_id" id="cop_id" placeholder="请输入执行者">
                    <option value="a001" th:selected="${sonTask.copId=='a001'}">张杰</option>
                    <option value="b002" th:selected="${sonTask.copId=='b002'}">华音</option>
                    <option value="b003" th:selected="${sonTask.copId=='b003'}">杭家豪</option>
                </select>
            </div>
            <!--<div class="form-group form-group5">
                <label>子任务详情要求</label>
                <textarea type="text" class="form-control" rows="3" name="task_detail"
                          th:value="${sonTask.taskDetail}"></textarea>
            </div>-->
            <div class="form-group form-group3">
                <label>安全疏散通道安全情况</label><br>
                <input name="f1"  type="radio" value="0" onchange="show(1,0)">没有情况
                <input name="f1"  type="radio" value="1" onchange="show(1,1)">有情况
            </div>
            <div id="1" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft1" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>疏散指示标志有效配置情况</label><br>
                <input name="f2"  type="radio" value="0" onchange="show(2,0)">没有情况
                <input name="f2"  type="radio" value="1" onchange="show(2,1)">有情况
            </div>
            <div id="2" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft2" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>应急照明有效配置情况</label><br>
                <input name="f3"  type="radio" value="0" onchange="show(3,0)">没有情况
                <input name="f3"  type="radio" value="1" onchange="show(3,1)">有情况
            </div>
            <div id="3" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft3" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>安全出口有效情况</label><br>
                <input name="f4"  type="radio" value="0" onchange="show(4,0)">没有情况
                <input name="f4"  type="radio" value="1" onchange="show(4,1)">有情况
        </div>
            <div id="4" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft4" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>消防车通道通畅情况</label><br>
                <input name="f5"  type="radio" value="0" onchange="show(5,0)">没有情况
                <input name="f5"  type="radio" value="1" onchange="show(5,1)">有情况
            </div>
            <div id="5" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft5" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>消防水源有效情况</label><br>
                <input name="f6"  type="radio" value="0" onchange="show(6,0)">没有情况
                <input name="f6"  type="radio" value="1" onchange="show(6,1)">有情况
            </div>
            <div id="6" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft6" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>消防设施、器材和消防安全标志是否在位、完整及有效</label><br>
                <input name="f7"  type="radio" value="0" onchange="show(7,0)">没有情况
                <input name="f7"  type="radio" value="1" onchange="show(7,1)">有情况
            </div>
            <div id="7" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft7" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>是否存在乱接线、电线老化、乱用大功率电器的情况</label><br>
                <input name="f8"  type="radio" value="0" onchange="show(8,0)">没有情况
                <input name="f8"  type="radio" value="1" onchange="show(8,1)">有情况
            </div>
            <div id="8" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft8" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>可燃气体浓度报警装置和切断装置运作是否良好</label><br>
                <input name="f9"  type="radio" value="0" onchange="show(9,0)">没有情况
                <input name="f9"  type="radio" value="1" onchange="show(9,1)">有情况
            </div>
            <div id="9" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft9" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>液化气钢瓶、门阀是否存在腐蚀</label><br>
                <input name="f10"  type="radio" value="0" onchange="show(10,0)">没有情况
                <input name="f10"  type="radio" value="1" onchange="show(10,1)">有情况
            </div>
            <div id="10" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft10" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>灭火器材配置及有效情况</label><br>
                <input name="f11"  type="radio" value="0" onchange="show(11,0)">没有情况
                <input name="f11"  type="radio" value="1" onchange="show(11,1)">有情况
            </div>
            <div id="11" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft11" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>建筑物是否存在安全隐患
                </label><br>
                <input name="f12"  type="radio" value="0" onchange="show(12,0)">没有情况
                <input name="f12"  type="radio" value="1" onchange="show(12,1)">有情况
            </div>
            <div id="12" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft12" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group3">
                <label>是否存在易燃易爆危险物品</label><br>
                <input name="f13"  type="radio" value="0" onchange="show(13,0)">没有情况
                <input name="f13"  type="radio" value="1" onchange="show(13,1)">有情况
            </div>
            <div id="13" class="form-group form-group3-2" style="visibility:hidden">
                <label>详情记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft13" placeholder="如有情况请记录"></textarea>
            </div>

            <div class="form-group form-group4">
                <label>其他备注</label>
                <textarea type="text"  class="form-control" rows="3" name="other" placeholder="如有需要请备注"></textarea>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="button button-highlight button-nomarl button-border"
                            style="margin-left: 30%;" id="submitForm">提交
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




<footer style=" z-index: 2;position: relative;background-color: #3d3d3d;">
    <div th:remove="tag" th:include="fragements/footer::footer"></div>
</footer>
<script th:src="@{/scripts/pages/task/record/create.js?201811222048}"></script>
</body>
</html>