<script type="text/x-template" id="tpl-file-upload-box">
    <div class="dialog-upload">
        <div class="wrap-img"><img class="hide" data-upload-image/></div>
        <div class="operate">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                      <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.zoom(0.1)">
                  <i class="glyphicon glyphicon-zoom-in"></i>
                  </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                      <span class="docs-tooltip" data-toggle="tooltip" title=""
                            data-original-title="cropper.zoom(-0.1)">
                  <i class="glyphicon glyphicon-zoom-out"></i>
                  </span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="rotate" data-option="-90"
                        title="Rotate Left">
                      <span class="docs-tooltip">
                  <i class="glyphicon glyphicon-share-alt"></i>
                  </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="rotate" data-option="90"
                        title="Rotate Right">
                    <span class="docs-tooltip">
                <i class="glyphicon glyphicon-share-alt" style="transform: rotateY(180deg);"></i>
                </span>
                </button>
            </div>
            <button type="button" class="btn btn-primary " data-crop-success>确定</button>
        </div>
    </div>
</script>
<script type="text/x-template" id="tpl-file-upload">
    <input type="file" :class="'file-upload '+classes" title="点击替换图片" v-on:change="handleimagechange">

</script>

<script th:src="@{/scripts/cropper.min.js}"></script>
<script th:src="@{/scripts/vue/2.3.3/components/file-upload.js?201808011651}"></script>
<link rel="stylesheet" th:href="@{/styles/cropper.min.css}">
