<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta th:remove="tag" th:include="fragements/header::header(title='警員信息列表')">
    <!--<meta name="changeMallRedirectUrl" content="/marketing/layout/hot/homepage/load.html">-->
    <!--页面扩展link放这里-->
    <link th:href="@{/scripts/layui/lmf-1.0.18/css/layui.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/pages/mall-list.css}">
    <link th:href="@{/styles/pages/child-active.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/pages/icon.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/styles/css/buttons.css}" rel="stylesheet" type="text/css"/>
</head>


<body class="page-header-fixed child-active mall-list">
<div class="page-header" style="margin-top: -30px;">
    <h1>
        管理系统 <small>警员信息列表</small>
    </h1>
</div>
<div class="main-box" style="border: 4px solid #376956; border-radius: 15px 15px 15px 15px;  width:1300px;height: 550px;">
    <!--<div class="work">-->
    <div class="back"><a href="/homepage/load.html">
        <button class="button button-primary button-circle button-border"><span
                class="glyphicon glyphicon-chevron-left"></span></button>
    </a></div>

    <div style="position: relative">
        <div class="layui-table-toolbox layui-clear">
            <div class="layui-table-setting layui-btn-group" style="float: right; ">
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="setting"
                        lay-tips="自定义列表项"><i class="layui-icon">
                    &#xe716;</i></button>
            </div>
        </div>
        <table class="table-list-card" id="mainTaskTableList" lay-filter="listShipments-table">
        </table>
    </div>
</div>
</div>
</body>
<footer style=" z-index: 2;position: relative;background-color: #3d3d3d;">
    <div th:remove="tag" th:include="fragements/footer::footer"></div>
    <!--页面扩展js放这里-->
    <script id="operateTemplate" type="text/html">

        <a class="get-sontask ctrl opt"
           href="/CopStaffManagement/info/getmaintaskwithSonTaskList/{{d.cop_id}}.html">查看子任务列表</a>
        <a class="delete-maintask ctrl opt" href="/CopStaffManagement/info/deleteCopStaff" lay-event="delete"
           data-task_id="{{d.cop_id}}">删除</a>
        <a class="edit-maintask ctrl opt" href="/taskmanagent/maintask/edit/{{d.cop_id}}.html" lay-event="edit">编辑</a>
        <!--d是bootstrapsTable里的每一行column-->
    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        // var shopUid = [[${shopUid}]];
        layui.config({
            base: '/scripts/modules/',
            version: '201808011357'
        });

        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/scripts/common_table.js}"></script>
    <script th:src="@{/scripts/pages/copinfo/list.js?201811051728}"></script>
    <!--脚本内容分界线**************************************************************************  -->
</footer>
</html>