<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理员-新建任务</title>
    <title th:text="(${title==null}?'':${title}+'-')+'后台管理系统'">派出所-后台管理系统</title>
    <meta th:remove="tag" th:include="fragements/header::header(title='总任务')">
    <link th:href="@{/styles/css/create.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css/buttons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">

    <script>
        var sex = result.fireControlRecord.f1;
        $(":radio[name='f1'][value='" + sex + "']").prop("checked", "checked");
    </script>

</head>
<body >

<div class="page-header" style="margin-top: -30px;">
    <h1>
        任务管理 <small>实时巡检记录查看</small>
    </h1>
</div>

<div class="work">
    <div class="back"><a href="/taskmanagement/sontask/listall.html">
        <button class="button button-primary button-circle button-border"><span
                class="glyphicon glyphicon-chevron-left"></span></button>
    </a></div>
    <div class="make">
        <form role="form" id="addTaskForm">
            <div class="form-group form-group1">
                <label>主任务编号</label>
                <input class="form-control text-left" name="son_task_id" th:value="${sonTask.taskId}" readonly>
            </div>

            <div class="form-group form-group1-2">
                <label>子任务编号</label>
                <input class="form-control text-left" name="son_task_id" th:value="${sonTask.sonTaskId}" readonly>
            </div>

            <div class="form-group form-group2">
                <label>子任务截止时间</label>
                <div class="controls date form_date">
                    <input name="deadline" class="form-control" type="text"
                           th:value="${#dates.format(sonTask.deadline,'yyyy-MM-dd HH:mm:ss')}">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <div class="form-group form-group2-2">
                <label>子任务完成时间</label>
                <div class="controls date form_date">
                    <input name="finishTime" class="form-control" type="text"
                           th:value="${#dates.format(fireControlRecord.finishTime,'yyyy-MM-dd HH:mm:ss')}">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <div class="form-group form-group2" th:if="${sonTask.taskArea} eq 'CH'">
                <label>子任务地点</label>
                <select  class="form-control" name="place" placeholder="请选择任务区域" th:value="${sonTask.place}" readonly>
                    <option value="CH001" th:selected="${sonTask.place=='CH001'}">彩虹城</option>
                    <option value="CH002" th:selected="${sonTask.place=='CH002'}">连连大厦</option>
                    <option value="CH003" th:selected="${sonTask.place=='CH003'}">中控科技园</option>
                    <option value="CH004" th:selected="${sonTask.place=='CH004'}">杭州长河高级中学</option>
                    <option value="CH005" th:selected="${sonTask.place=='CH005'}">杭州龙禧大酒店</option>
                    <option value="CH006" th:selected="${sonTask.place=='CH006'}">滨江龙湖天街</option>
                    <option value="CH007" th:selected="${sonTask.place=='CH007'}">中心花园</option>
                    <option value="CH008" th:selected="${sonTask.place=='CH008'}">好歌汇量贩KTV</option>
                    <option value="CH009" th:selected="${sonTask.place=='CH009'}">浙江大学医学院附属儿童医院</option>
                    <option value="CH0010" th:selected="${sonTask.place=='CH0010'}">宝龙城</option>
                </select>
            </div>
            <div class="form-group form-group2" th:if="${sonTask.taskArea} eq 'ZJC'" >
                <label>子任务地点</label>
                <select class="form-control" name="place" placeholder="请选择任务区域"  readonly>
                    <option value="ZJC001" th:selected="${sonTask.place=='ZJC001'}">冠山小区</option>
                    <option value="ZJC002" th:selected="${sonTask.place=='ZJC002'}">华数数字电视产业园</option>
                    <option value="ZJC003" th:selected="${sonTask.place=='ZJC003'}">杭州白马湖国际会展中心</option>
                </select>
            </div>
            <div class="form-group form-group2-2">
                <label>子任务负责警员</label>
                <select  class="form-control" name="cop_id" id="cop_id" placeholder="请输入执行者"  readonly>
                    <option value="a001" th:selected="${sonTask.copId=='a001'}">张杰</option>
                    <option value="b002" th:selected="${sonTask.copId=='b002'}">华音</option>
                    <option value="b003" th:selected="${sonTask.copId=='b003'}">杭家豪</option>
                </select>
            </div>
            <!--<div class="form-group form-group5">
                <label>子任务详情要求</label>
                <textarea type="text" class="form-control" rows="3" name="task_detail"
                          th:value="${sonTask.taskDetail}"></textarea>
            </div>-->
            <div class="form-group form-group3">
                <label>安全疏散通道安全情况记录</label>
                <textarea type="text" class="form-control" rows="2" name="ft1" th:placeholder="${fireControlRecord.f1}"  readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>疏散指示标志有效配置情况记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft2" th:placeholder="${fireControlRecord.ft2}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>应急照明有效配置情况记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft3" th:placeholder="${fireControlRecord.ft3}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>安全出口有效情况记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft4" th:placeholder="${fireControlRecord.ft4}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>消防车通道通畅情况记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft5" th:placeholder="${fireControlRecord.ft5}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>消防水源有效情况记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft6" th:placeholder="${fireControlRecord.ft6}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>消防设施、器材和消防安全标志是否在位、完整及有效记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft7" th:placeholder="${fireControlRecord.ft7}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>是否存在乱接线、电线老化、乱用大功率电器的情况记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft8" th:placeholder="${fireControlRecord.ft8}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>可燃气体浓度报警装置和切断装置运作是否良好记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft9" th:placeholder="${fireControlRecord.ft9}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>液化气钢瓶、门阀是否存在腐蚀记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft10" th:placeholder="${fireControlRecord.ft10}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>灭火器材配置及有效情况记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft11" th:placeholder="${fireControlRecord.ft11}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>建筑物是否存在安全隐患记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft12" th:placeholder="${fireControlRecord.ft12}" readonly></textarea>
            </div>

            <div class="form-group form-group3">
                <label>是否存在易燃易爆危险物品记录</label>
                <textarea type="text"  class="form-control" rows="2" name="ft13" th:placeholder="${fireControlRecord.ft13}" readonly></textarea>
            </div>

            <div class="form-group form-group4">
                <label>其他备注</label>
                <textarea type="text"  class="form-control" rows="3" name="other" th:placeholder="${fireControlRecord.other}" readonly></textarea>
            </div>
        </form>
    </div>
</div>

<footer style=" z-index: 2;position: relative;background-color: #3d3d3d;">
    <div th:remove="tag" th:include="fragements/footer::footer"></div>
</footer>
<script th:src="@{/scripts/pages/record/firecontrol/edit.js?201811222044}"></script>
</body>
</html>