<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta th:remove="tag" th:include="fragements/header::header(title='子任务列表')">
    <!--<meta name="changeMallRedirectUrl" content="/marketing/layout/hot/homepage/load.html">-->
    <!--页面扩展link放这里-->
    <link th:href="@{/scripts/layui/lmf-1.0.18/css/layui.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/pages/mall-list.css}">
    <link th:href="@{/styles/pages/child-active.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/pages/icon.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/styles/css/buttons.css}" rel="stylesheet" type="text/css"/>
</head>


<body onLoad="time()" class="page-header-fixed child-active mall-list">
<div class="page-header" style="margin-top: -30px;">
    <h1>
        管理系统 <small>子任务列表</small>
    </h1>
</div>
<div   style="border: 4px solid #376956; border-radius: 15px 15px 15px 15px; height: 600px;" class="main-box">
    <div class="back"><a href="/homepage/load.html">
        <button class="button button-primary button-circle button-border"><span
                class="glyphicon glyphicon-chevron-left"></span></button>
    </a></div>
    <div class="main-box-top">
        <form class="form search child-search" id="searchForm" lay-filter="listShipments-search-box">
            <div hidden>
                <input class="form-control text-left" type="text" name="task_id" th:value="${sontask_id}">
            </div>
            <div class="msg-box">
                <label class="label">完成情况:</label>
                <select name="finish_status" class="form-control" style="width: 150px;">
                    <option value="">全部</option>
                    <option value="TODO">待执行</option>
                    <option value="DOING">执行中</option>
                    <option value="INTERRUPTED">被中断</option>
                    <option value="DELAYED">被延迟</option>
                    <option value="FINISHED">已完成</option>
                </select>
            </div>
            <div class="msg-box">
                <label class="label">执行人:</label>
                <input class="form-control text-left" type="text" placeholder="请输入执行人"
                       maxlength="10"
                       name="cop_name">
            </div>
            <div class="msg-box">
                <label class="label">任务区域:</label>
                <input class="form-control text-left" type="text" placeholder="请输入任务区域"
                       maxlength="10"
                       name="task_area">
            </div>
            <div class="msg-box">
                <label class="label">任务地点:</label>
                <input class="form-control text-left" type="text" placeholder="请输入任务地点"
                       maxlength="10"
                       name="place">
            </div>
            <div class="msg-box">
                <label class="label text-center" style="width:60px;">截止时间:</label>
                <input class="form-control text-left layer-icon" type="text" id="start_date"
                       placeholder="请输入开始时间"
                       name="deadline_start_at">
                <input class="form-control text-left layer-icon" type="text" id="end_date"
                       placeholder="请输入结束时间"
                       name="deadline_end_at">
            </div>
            <div class="msg-box">
                <button class="search btn " type="submit">查询</button>
            </div>


        </form>
    </div>
    <div style="position: relative">
        <div class="layui-table-toolbox layui-clear">
            <div class="layui-table-setting layui-btn-group" style="float: right; ">
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="setting"
                        lay-tips="自定义列表项"><i class="layui-icon">
                    &#xe716;</i></button>
            </div>
        </div>
        <table class="table-list-card" id="sontaskTableList" lay-filter="listShipments-table">
        </table>
    </div>
    <div class="showtime" style="float: right;" id="showtime"></div>
</div>
</div>
</body>
<footer style=" z-index: 2;position: relative;background-color: #3d3d3d;">
    <div th:remove="tag" th:include="fragements/footer::footer"></div>
    <!--页面扩展js放这里-->
    <script id="operateTemplate" type="text/html">
        <a class="delete-sontask ctrl opt" lay-event="delete">删除</a>
        <a class="edit-sontask ctrl opt" href="/sontaskrecordmanagement/firecontrol/insert/{{d.son_task_id}}.html" lay-event="edit">添加记录</a>
        <a class="edit-sontask ctrl opt" href="/sontaskrecordmanagement/firecontrol/getsontaskrecord/{{d.son_task_id}}.html" lay-event="edit">查看</a>
        <!--d是bootstrapsTable里的每一行column-->
    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var task_id = [[${task_id}]];
        layui.config({
            base: '/scripts/modules/',
            version: '201808011357'
        });

        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/scripts/common_table.js}"></script>
    <script th:src="@{/scripts/pages/task/sontask/listall.js?201812131516}"></script>
    <!--脚本内容分界线**************************************************************************  -->
</footer>
</html>